<template>
  <div class="home">
    <v-row justify="center">

      <v-col>
        <v-time-picker @change="start('1')"
          format="24hr"
          v-model="time1"
          use-seconds
        ></v-time-picker>
        <timer :time="time1" ref="time1" />
      </v-col>

      <v-col>
        <v-time-picker @change="start('2')"
          format="24hr"
          v-model="time2"
          use-seconds
        ></v-time-picker>
        <timer :time="time2" ref="time2"/>
      </v-col>

      <v-col>
        <v-time-picker @change="start('3')"
          format="24hr"
          v-model="time3"
          use-seconds
        ></v-time-picker>
        <timer :time="time3" ref="time3"/>
      </v-col>

    </v-row>
  </div>
</template>

<script>
// @ is an alias to /src
import Timer from '@/components/Timer'

export default {
  name: 'Home',
  components: {
    Timer
  },
  data () {
    return {
      time1: '00:00:00',
      time2: '00:00:00',
      time3: '00:00:00'
    }
  },
  methods: {
    start (t) {
      this.$refs[`time${t}`].startTimer()
    }
  }
}
</script>
