<template>
  <span :class='color'> {{ formattedTimeLeft }} </span>
</template>

<script>

export default {
  props: {
    time: {
      type: String,
      required: true,
      default: '00:00:00'
    }
  },
  data () {
    return {
      timePassed: 0,
      timerInterval: null,
      timer: 0,
      color: 'green'
    }
  },
  computed: {
    formattedTimeLeft () {
      const timeLeft = this.timeLeft
      let hours = Math.floor(timeLeft % (3600*24) / 3600)
      let minutes = Math.floor(timeLeft % 3600 / 60)
      let seconds = Math.floor(timeLeft % 60)

      if (hours < 10) {
          hours = `0${hours}`
      }
      if (minutes < 10) {
          minutes = `0${minutes}`
      }
      if (seconds < 10) {
        seconds = `0${seconds}`
      }

      return `${hours}:${minutes}:${seconds}`
    },
    timeLeft () {
      return this.timer - this.timePassed
    }
  },
  watch: {
    timeLeft (value) {
      if (value === 0) {
        this.onTimesUp()
      }
      if (value === 300) {
        this.$set(this.$data, 'color', 'red')
      }
    }
  },
  destroyed () {
    this.resetTimer()
  },
  methods: {
    onTimesUp () {
      clearInterval(this.timerInterval)
    },
    startTimer () {
      const [h, m, s] = this.time.split(':')
      this.$set(this.$data, 'timer', ((parseInt(h) * 3600) + (parseInt(m) * 60)) + parseInt(s))

      this.timerInterval = setInterval(() => (this.timePassed += 1), 1000)
    },
    resetTimer () {
      this.timePassed = 0
      this.onTimesUp()
      this.startTimer()
    }
  }
}

</script>

<style lang="scss" scoped>

</style>